@import 'tailwindcss';
@font-face {
  font-family: font1;
  src: url(../src/assets/fonts/Lausanne.otf);
}

.moveX {
  animation-name: moveAnimation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLink {
  opacity: 0;
  transition: all ease 0.4s;
  pointer-events: none;
}
.link:hover .moveLink {
  opacity: 1;
}
@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
